<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <form action="/admin/projects"
          method="post">
        <div>
            <label>Title:</label>
            <input type="text" name="title" value="<%= pTitle %>"/>
            <% if(errTitle === 1){ %>
                <b>Title field can not be empty!</b>
            <% } else if (errTitle === 2) {%>
                <b>This title is taken, please choose another one!</b>
            <% } %>
            <br/>

        </div>
        <div>
            <label>Description:</label>
            <input type="text" name="description" value="<%= pDescription %>"/>
            <% if(errDescription === true){ %>
                <b>Description field can not be empty!</b>
            <% }%>
        </div>
        <div>
            <label>Client:</label>
            <input type="text" name="client" value="<%= pClient %>"/>
            <% if(errClient === true){ %>
                <b>Client field can not be empty!</b>
            <% }%>
        </div>
        <div>
            <label>Date:</label>
            <input type="text" name="date" value="<%= pDate %>"/>
            <% if(errDate === true){ %>
                <b>Date field can not be empty!</b>
            <% }%>
        </div>
        <div>
            <label>Category:</label>
            <input type="text" name="category" value="<%= pCategory %>"/>
            <% if(errCategory === true){ %>
                <b>Category field can not be empty!</b>
            <% }%>
        </div>
        <div>
            <label>Background Color:</label>
            <input type="text" name="color" value="<%= pColor %>"/>
            <% if(errColor === 1){ %>
                <b>Color field can not be empty!</b>
            <% } else if (errColor === 2) {%>
                <b>Color field needs a # at the beginning of the color sequence</b>
            <% } else if (errColor === 3) {%>
                <b>Color field needs to have # and 6 numbers!</b>
            <% } %>
        </div>
        <div>

            <% if(title === 'Create Project'){ %>
                <input type="hidden" name="submissionType" value="create">
            <% } else { %>
                <input type="hidden" name="submissionType" value="<%= pID %>">
            <% } %>
            <button name="submit" value="createAndDone" type="submit">Add Project</button>
            <button name="submit" value="createAndUpdate" type="submit">Add Project and continue</button>


        </div>
    </form>
    <% if(title !== 'Create Project'){ %>
    <ul>
        <% photos.forEach(function(photo){ %>
            <li>
                <img src="<%= photo.url %>">
                <form action    =  "/admin/delete-project-photo"
                      method    =  "post">
                    <input type="hidden" name="pID" value="<%=pID%>">
                    <button name="photoUrl" value="<%= photo.url %>" type="submit">Delete</button>
                </form>
            </li>
        <% }); %>
    </ul>

    <form id        =  "uploadForm"
          enctype   =  "multipart/form-data"
          action    =  "/admin/upload-project-photo"
          method    =  "post">
        <input type="file" name="myFile" />
        <!--<input type="submit" value="Upload Image" name="submit">-->
        <button name="pID" value="<%= pID %>" type="submit">Upload Image</button>
    </form>
    <% } %>
</div>
</body>
</html>