<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <%if (temp) {%>
            The temperature is: <%=temp.currently.temperature%>
        <% } %>
        <ul>
        <% projects.forEach(function(project){ %>
            <li >
                <%= project.title %>
                <%= project.description %>
                <%= project.client %>
                <% project.Photos.forEach(function(photo) { %>
                    <img src="<%= photo.url%>">
                <% }) %>
            </li>
        <% })  %>
        </ul>
    </div>
</body>
</html>