<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container-fluid nav-bar">
    <a class="nav-link" href="/admin/projects">Projects</a>
    <a class="nav-link" href="/admin/users">Users</a>
</div>
<div class="container">
    <div class="create-new">
        <a href="/admin/create-user">Create New User</a>
    </div>
    <table class="table">
        <tr>
            <th>username</th>
            <th>password</th>
            <th>access</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        <% users.forEach(function(user){ %>
        <tr>
            <td><%= user.username %></td>
            <td><%= user.password %></td>
            <td><%= user.access %></td>
            <td>
                <form action="/admin/update-user" method="post">
                    <button name="edit" value="<%= user.id %>" type="submit">Edit</button>
                </form>
            </td>
            <td>
                <form action="/admin/delete-user" method="post">
                    <button name="delete" value="<%= user.id %>" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        <% })  %>

    </table>
</div>
</body>
</html>